* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    
    background-image: url(../img/page.png);
    background-repeat: no-repeat;  
}   
img {
    width: 400px;
}

.wrapper {
    
    width: 480px;
    padding: 60px 40px; 
    margin: 240px auto;
    background-color: #ffffff;
}
h2, h3 {
 color: #263555;
 margin-top: 30px;
 margin-bottom: 20px

}

.center {
    padding-bottom: 65px;
    border-bottom: 1px solid #dedbdb;
    
      
    
}
.top {
    padding-top: 45px;
}




.paragraph {
  font-family: Pathway Gothic One;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 20px
}

.second-paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin: 20px 0 20px; 
    color: #4e5050;

}

.text {
    padding-right: 120px;
    }

  .right{
    
    display: inline-block;
    width: 45%;
    margin-right: -4px;
    margin-left: 20px;
    
   
  }

  .left {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    
  }
  
  .display-blok{
    color: #263555;
    font-size: 14px;
    
  }

