.figure {
    width: 1026px;
    background-color: #fff;
    margin: auto;
   
}
 
.figcaption {
    position: relative;

}
.img {
    margin: 58px 60px;
    height: 580px;
    width: 902px;

}

.blue {
    font-size: 22px;
    text-transform: uppercase;
    color: #263555;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    transform: translateX(26%) translateY(-680%);
}

.white{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 34px;
    color:#fff;
    padding: 16px 16px;
    background-color: #38afe5;
    position: absolute;
    transform: translateX(21%) translateY(-550%);
}


.button-left::before {   
    content: '\2190';
    line-height: 86px;
    font-size: 20px;
    color: #fff;
    width: 45px;
    height: 90px;
    background-color: #38afe5;
    position: absolute;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    bottom: 100px;
    left: 100px;
    text-align: center;  
    cursor: pointer;  
}

.button-right::after {   
    content: '\2192';
    line-height: 86px;
    font-size: 20px;
    color: #fff;
    width: 45px;
    height: 90px;
    background-color: #38afe5;
    position: absolute;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    bottom: 100px;
    left: 145px;
    text-align: center;   
    cursor: pointer; 
}
